.example-container {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    padding: 10px;
}

.example-container > * {
    width: 100%;
}

.submitButton {
    background-color: #4daad9;
}